%h1 Entry list
%hr/
%table
    %tr
        %td
            No
        %td
            title
        %td
            opration
    - @entries.each do |entry|
        %tr
            %td
                #{entry.id}
            %td
                #{entry.title}
            %td
                = link_to "コメントを表示", entry_path(entry)
%hr/
= link_to "UnapprovedのコメントがあるEntryを表示", show_unapproved_entries_path
